{% extends "base.html" %}
{% block content %}
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <h2 class="display-6 fw-bolder mb-4">Login</h2>
        {% if form.errors %}
        <p>아이디 또는 비밀번호가 틀립니다. 다시 시도해주세요.</p>
        {% endif %}
        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <table class="row mb-3">
                <tr>
                    <td>{{form.username.label_tag}}</td>
                    <td>{{form.username}}</td>
                </tr>
                <tr>
                    <td>{{form.password.label_tag}}</td>
                    <td>{{form.password}}</td>
                </tr>
            </table>
            <input type="submit" value="login" class="btn btn-primary">
        </form>
        <a href="{% url 'accounts:signup' %}">signup</a>
    </div>
</div>
{% endblock %}