{% extends 'base.html' %}
{% block content %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
        style="background-image: url('https://image.istarbucks.co.kr/common/img/coffee/coffee_story_bigImg01.jpg'); background-position: top;">
    <div class="container my-5 px-5">
        <h1 class="text-white fs-3 fw-bolder">STAR coffee</h1>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-lg-9">
                <h3>"커피 이상의 특별한 경험을 소개합니다."</h3>
                <p class="mb-0">
                    세계인들의 생활 속에 스며들어 전 세계의 커피 문화를 선도하고 있는 스타커피가 일상을 풍요롭게 하는 제3의 공간으로서
                    국내에서도 지역사회 속에서 고객과 함께하며 새로운 커피문화를 정착시키고 있습니다.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://www.starbucks.co.kr/common/img/footer/company/main_pic2.jpg" alt="..."/>
            </div>
            <div class="col-lg-7">
                <h3>“지역사회와 커피 지식을 나누고 있습니다.”</h3>
                <p class="mb-0">스타커피는 모든 직원을 파트너로 존중하고 있으며,
                    커피 전문가(Coffee Master) 과정을 통과한
                    숙련된 바리스타들은 뛰어난 지식과 열정을 통해
                    고객의 일상을 풍요롭게 하는 최고의 서비스를 제공해 드리며,
                    지역사회와 커피 지식을 나누고 있습니다.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}