{% extends 'base.html' %}
{% block content %}
<body id="page-top">
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">연혁</h1>
        </div>
    </div>
</header>
<!-- About section-->
<section id="about">
    <div class="container my-5 px-5">
        <div class="row gx-4 justify-content-center">
            <ul class="history pt-5">
                <li class="his_item d-flex">
                    <div class="his_dot d-flex align-items-center flex-end"></div>
                    <div class="his_text">
                        <h2 class="fw-bold text-success">2020</h2>
                        <ul class="his_list">
<!--                            {% if history_list.year == '2020' %}-->
<!--                            {% for history in history_list %}-->
<!--                            <li><span>{{history.year}}</span>{{history.content}}</li>-->
<!--                            {% endfor %}-->
<!--                            {% endif %}-->
                            <li>방탄소년단과 청년 지원 캠페인 ‘Be the Brightest Stars’ 전개</li>
                            <li>중소벤처기업부와 자상한기업 업무 협약</li>
                            <li>문화재청-문화유산국민신탁과 문화유산보호기금 기부 협약</li>
                            <li>중장년층 재기 돕는 ‘리스타트 지원 프로그램’ 시작</li>
                            <li>국내 최초 장애인 고용 증진 및 인식개선 통한
사회적 가치실현의 의미 담은 ‘서울대치과병원점’ 오픈</li>
                        </ul>
                    </div>
                </li>
                <li class="his_item d-flex">
                    <div class="his_dot d-flex align-items-center flex-end"></div>
                    <div class="his_text">
                        <h2 class="fw-bold text-success">2019</h2>
                        <ul class="his_list">
                            <li>보건복지부-한국시니어클럽협회와 어르신 일자리 창출 상생 협약</li>
                            <li>평택시-자원순환사회연대-미듬영농조합과 우리 농산물 기반 지역 상생 협약 체결</li>
                            <li>어르신 바리스타 대상 전용 교육장 오픈</li>
                            <li>‘2019 문화유산보호 유공자 포상‘ 대통령 표창 수상</li>
                        </ul>
                    </div>
                </li>
                <li class="his_item d-flex">
                    <div class="his_dot d-flex align-items-center flex-end"></div>
                    <div class="his_text">
                        <h2 class="fw-bold text-success">2018</h2>
                        <ul class="his_list">
                            <li>공기청정 냉난방 시스템 매장 운영</li>
                            <li>현금 없는 매장 운영</li>
                            <li>전국 매장 종이 빨대 도입</li>
                            <li>과천DT점 ‘별빛미술관‘ 오픈 및 청년예술인재 후원 사업 전개</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
{% endblock %}