{% extends 'base.html' %}
{% block content %}
<body id="page-top">
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">연혁</h1>
        </div>
    </div>
</header>
<!-- About section-->
<section id="about">
    <div class="container my-5 px-5">
        <div class="row gx-4 justify-content-center">
            <ul class="history pt-5">
                <li class="his_item d-flex">
                    <div class="his_dot d-flex align-items-center flex-end"></div>
                    <div class="his_text">
                        <h2 class="fw-bold text-success">2020</h2>
                        <ul class="his_list">
                            <li>방탄소년단과 청년 지원 캠페인 ‘Be the Brightest Stars’ 전개</li>
                            <li>중소벤처기업부와 자상한기업 업무 협약</li>
                            <li>문화재청-문화유산국민신탁과 문화유산보호기금 기부 협약</li>
                            <li>재능기부카페 10호점 오픈 (부산)</li>
                            <li>중장년층 재기 돕는 ‘리스타트 지원 프로그램’ 시작</li>
                        </ul>
                    </div>
                </li>
                <li class="his_item d-flex">
                    <div class="his_dot d-flex align-items-center flex-end"></div>
                    <div class="his_text">
                        <h2 class="fw-bold text-success">2020</h2>
                        <ul class="his_list">
                            <li>아름다운재단과 ‘보호종료청년’ 지원 업무 협약</li>
                            <li>아름다운재단과 ‘보호종료청년’</li>
                            <li>아름다운재단과 ‘보호종료청년’ 지원 업무 협약</li>
                        </ul>
                    </div>
                </li>
                <li class="his_item d-flex">
                    <div class="his_dot d-flex align-items-center flex-end"></div>
                    <div class="his_text">
                        <h2 class="fw-bold text-success">2020</h2>
                        <ul class="his_list">
                            <li>아름다운재단과 ‘보호종료청년’ 지원 업무 협약</li>
                            <li>아름다운재단과 ‘보호종료청년’ 지원 업무 협약</li>
                            <li>아름다운재단과 ‘보호종료청년’ 지원 업무 협약</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
{% endblock %}