{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">CONTACT</h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-between">
            <div class="col mb-5">
                <div class="card h-100 align-items-center">
                    <!-- Product image-->
                    <img class="img-fluid mt-4 px-4" src="../static/images/phone-call.png" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">대표 번호</h5>
                            <span>1522-3232</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 align-items-center">
                    <!-- Product image-->
                    <img class="img-fluid mt-4 px-4" src="../static/images/printer.png" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">팩스</h5>
                            <span>02) 3015 - 1106</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 align-items-center">
                    <!-- Product image-->
                    <img class="img-fluid mt-4 px-4" src="../static/images/location.png" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">주소</h5>
                            <span>서울특별시 중구 퇴계로 100 9F (04631)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- map -->
        <div class="mb-5">
            <div class="card h-100 align-items-center">
                <div id="map" class="card-img" style="width:100%;height:500px;"></div>
                <script>
                var map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(37.560213, 126.982890),
                    zoom: 17
                });
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(37.560213, 126.982890),
                    map: map
                });
                </script>
            </div>
        </div>
    </div>
</section>
{% endblock %}
