{% extends 'base.html' %}
{% block content %}
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Header-->
    <header class="bg-dark py-5">
        <!-- slide -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <p class="lead fw-normal text-white text-start mb-3">사랑스러운 눈사람을 모티브로 한</p>
                                    <h1 class="display-6 fw-bolder text-white text-start mb-5">22 홀리데이 스노우 머그</h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-outline-light btn-lg px-4" href="#!">제품 소개 바로가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                                <img class="img-fluid rounded-3 my-5" src="static/images/snowman.png"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <p class="lead fw-normal text-white text-start mb-3">포근한 니트가 떠오르는</p>
                                    <h1 class="display-6 fw-bolder text-white text-start mb-5">22 홀리데이 윈터니팅 머그</h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-outline-light btn-lg px-4" href="#!">제품 소개 바로가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                                <img class="img-fluid rounded-3 my-5" src="static/images/winter.jpg"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <p class="lead fw-normal text-white text-start mb-3">프로모션 테마인 쿠키샵을 담은</p>
                                    <h1 class="display-6 fw-bolder text-white text-start mb-5">22 홀리데이 쿠키샵 LED 스탠드</h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-outline-light btn-lg px-4" href="#!">제품 소개 바로가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                                <img class="img-fluid rounded-3 my-5" src="static/images/LED.jpg"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>
    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">
                            "스타커피는 고객의 일상을 풍요롭게 하는 제3의 공간으로서 세계인들의 생활 속에 스며들어 각 나라의 커피 문화를 선도합니다."
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/about/">회사 소개 바로가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
{% endblock %}