<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>STAR coffee</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg position-fixed navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/"><span>★</span> coffee</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="/">HOME</a></li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" type="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                ABOUT
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/about/">회사 소개</a></li>
                                <li><a class="dropdown-item" href="history/">연혁</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/mysite/">PRODUCT</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact/">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <!-- slide -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <p class="lead fw-normal text-white text-start mb-3">사랑스러운 눈사람을 모티브로 한</p>
                                    <h1 class="display-5 fw-bolder text-white text-start mb-5">22 홀리데이 스노우 머그</h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-outline-light btn-lg px-4" href="#!">제품 소개 바로가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                                <img class="img-fluid rounded-3 my-5" src="static/images/snowman.png"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <p class="lead fw-normal text-white text-start mb-3">포근한 니트가 떠오르는</p>
                                    <h1 class="display-5 fw-bolder text-white text-start mb-5">22 홀리데이 윈터니팅 머그</h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-outline-light btn-lg px-4" href="#!">제품 소개 바로가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                                <img class="img-fluid rounded-3 my-5" src="static/images/winter.jpg"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <p class="lead fw-normal text-white text-start mb-3">프로모션 테마인 쿠키샵을 담은</p>
                                    <h1 class="display-5 fw-bolder text-white text-start mb-5">22 홀리데이 쿠키샵 LED 스탠드</h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-outline-light btn-lg px-4" href="#!">제품 소개 바로가기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                                <img class="img-fluid rounded-3 my-5" src="static/images/LED.jpg"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>
    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">
                            "스타커피는 고객의 일상을 풍요롭게 하는 제3의 공간으로서 세계인들의 생활 속에 스며들어 각 나라의 커피 문화를 선도합니다."
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/about/">회사 소개 바로가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div>
            <div class="col-auto">
                <span class="text-white small">TEL : 1522-3232</span>
                <span class="text-white mx-1">&middot;</span>
                <span class="text-white small">서울특별시 중구 퇴계로 100 9F (04631)</span>
            </div>
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; 2022 STAR coffee</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
