{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PRODUCT</h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            {% if content_list %}
            {% for content in content_list %}
            <div class="col mb-5">
                <a class="text-decoration-none link-dark h-100" href="{% url 'detail' content.id %}">
                    <!-- badge-->
                    {% if content.pub_date > new_90 %}
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">NEW</div>
                    {% endif %}
                    <!-- Product image-->
                    {% if content.image %}
                    <img class="card-img-top" src="{{content.image.url}}" alt="image"/>
                    {% else %}
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body">
                        <div class="text-center">
                            <!-- Product name-->
                            <h6 class="fw-bolder">{{content.title}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>content가 없습니다.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
