{% extends 'base.html' %}
{% block content %}
<!-- Product section-->
<div class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="d-flex gx-4 gx-lg-5 mb-5 align-items-center">
            <div class="col-md-5">
                {% if content_list.image %}
                <img class="card-img-top mb-5 mb-md-0" src="{{content_list.image.url}}" alt="image"/>
                {% else %}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."/>
                {% endif %}
            </div>
            <div class="col-md-7">
                <h1 class="fs-4 fw-bolder">{{content_list.title}}</h1>
                <div class="fs-5 mb-5"></div>
                <p class="fs-6">{{content_list.content}}</p>
            </div>
        </div>
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body px-4">
                    <form method="post" class="mb-4" action="{% url 'comment_create' content_list.id %}">
                        {% csrf_token %}
                        <textarea id="content" name="content" class="form-control mb-2" rows="3"
                                  placeholder="내용을 입력해주세요."></textarea>
                        <button type="submit" class="btn btn-success">submit</button>
                    </form>
                    {% for comment in content_list.comment_set.all %}
                    <div class="d-flex">
                        <div class="ms-3">
                            <div class="fw-bold">
                                {{comment.author.username}} &nbsp {{comment.create_date}}
                                {% if comment.create_date != comment.modify_date %}
                                / 수정일자: {{comment.modify_date}}
                                {% endif %}
                                {% if request.user == comment.author %}
                                    <a href="{% url 'comment_update' comment.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                                    <a href="{% url 'comment_delete' comment.id %}" class="btn btn-sm btn-outline-secondary">삭제</a>
                                {% endif %}
                            </div>
                            {{comment.content}}
                        </div>
                    </div>
                    <br/>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
